* {
  box-sizing: border-box;
  padding: 0.25%;
  margin: 0.5%;
}
body {
  background: rgb(201, 200, 200);
  color: purple;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 2rem;
}
.card:hover {
  background-color: rgb(63, 62, 62);
  color: antiquewhite;
  cursor: pointer;
  transform: scale(1.05);
  transition: all 1s ease;
}
.card {
  background: white;
  width: 15rem;
  height: 20%;
  margin: 3%;
  border-radius: 0.75rem;
  display: flex;
  flex-flow: column;
  text-align: center;
}
.card h2 {
  padding: 1%;
  font-size: 220%;
}
.card p {
  padding: 1%;
  font-size: 100%;
}
.card button {
  background-color: olive;
  color: antiquewhite;
  padding: 4%;
  margin: 8%;
  border-radius: 0.75rem;
  display: block;
  text-align: center;
}
.card-image {
  background-color: olive;
  height: 7rem;
  margin: 5%;
  background-size: 125%;
  border-radius: 0.5rem;
}
.img1 {
  background-image: url('https://th.bing.com/th/id/OIP.xk2xNiH9vaf6ODeFpsIeuwAAAA?pid=ImgDet&w=205&h=136&c=7');
}
.img2 {
  background-image: url('https://th.bing.com/th/id/OIP.XlUu5zOaw6E2iHrFf48sVQHaE6?pid=ImgDet&w=205&h=136&c=7');
}
.img3 {
  background-image: url('https://th.bing.com/th/id/OIP.ue2yR4-9sihanHER5arv_wHaD2?pid=ImgDet&w=205&h=106&c=7');
}
